Source: cinnamon-translations
Section: localization
Priority: optional
Maintainer: Clement Lefebvre <root@linuxmint.com>
Build-Depends: debhelper-compat (= 13), gettext
Standards-Version: 3.9.5

Package: cinnamon-l10n
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Translation files for the Cinnamon desktop
 The package contains the translation files for all the Cinnamon packages.
