Source: cinnamon-translations
Section: localization
Priority: optional
Maintainer: Clement Lefebvre <root@linuxmint.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: cinnamon-translations
Replaces: cinnamon-common
Architecture: all
Description: Translation files for the Cinnamon desktop
 The package contains the translation files for the Cinnamon packages.
